In [2]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import gmaps
import requests
import json
from config import g_key
inputfile='../WeatherPy/output_data/cities.csv'

In [3]:
#read in csv file from WeatherPy
humidity_df=pd.read_csv(inputfile)
humidity_df.head()

,City,Country,Cloudiness,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,Nome,US,1,1582761312,50,64.50,-165.41,10.00,6.80
1,Ahipara,NZ,63,1582761312,80,-35.17,173.17,68.18,10.60
2,Faya,SA,19,1582761312,32,18.39,42.45,59.00,3.36
3,Aktash,RU,85,1582761312,82,50.30,87.73,6.84,6.35
4,Mataura,NZ,96,1582761313,72,-46.19,168.86,63.00,18.01

In [4]:
#configure gmaps
gmaps.configure(api_key=g_key)

In [11]:
#store lat and long in locations variable
locations=humidity_df[['Latitude','Longitude']]
#store humidity for heatmap function
humidity=humidity_df['Humidity'].astype(float)

In [12]:
#set figure up and put humidity as weight for heatmaps
fig=gmaps.figure()
heat_layer=gmaps.heatmap_layer(locations, weights=humidity, max_intensity=100)
fig.add_layer(heat_layer)

In [16]:
#display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#narrow done my ideal vacation spots by filtering out cities
hotel_df=humidity_df.loc[(humidity_df['Humidity']<40) & (humidity_df['Max Temp'] >70) &
                        (humidity_df['Max Temp']<78) &(humidity_df['Cloudiness']<50) &
                        (humidity_df['Wind Speed']<10)]

hotel_df['Hotel Name']=''
hotel_df

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Country,Cloudiness,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
36,Santiago del Estero,AR,0,1582761317,34,-27.80,-64.26,75.52,7.02,
74,Kyabé,TD,6,1582761322,20,9.45,18.94,76.17,4.09,
76,Sapouy,BF,0,1582761322,14,11.55,-1.77,75.65,5.39,
280,Guerrero Negro,MX,0,1582761349,10,27.98,-114.06,77.97,1.52,
329,Ségou,ML,0,1582761355,12,13.43,-6.22,76.84,9.71,
399,Bara,NG,1,1582761364,22,10.37,10.73,71.89,6.40,
426,Bambari,CF,0,1582761368,28,5.77,20.68,74.25,3.04,
490,Goya,AR,0,1582761376,33,-29.14,-59.26,70.56,6.11,
552,Birao,CF,0,1582761384,16,10.28,22.79,70.07,9.60,

In [7]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request 
    response = requests.get(base_url, params=params).json()
    results=response['results']
    try:
        hotel_df.loc[index, 'Hotel Name']=results[0]['name']
    except:
        print(f'This hotel cannot be located')

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:964: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

This hotel cannot be located
This hotel cannot be located
This hotel cannot be located

In [8]:
#drop any cities where a hotel could not be located
hotel_df.dropna(subset=['Hotel Name'])
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/generic.py:6745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,City,Country,Cloudiness,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
36,Santiago del Estero,AR,0,1582761317,34,-27.80,-64.26,75.52,7.02,Hotel Urbano
76,Sapouy,BF,0,1582761322,14,11.55,-1.77,75.65,5.39,Auberge St Louis
280,Guerrero Negro,MX,0,1582761349,10,27.98,-114.06,77.97,1.52,"Casa Laguna, Bed & Breakfast"
329,Ségou,ML,0,1582761355,12,13.43,-6.22,76.84,9.71,Comme chez soi
426,Bambari,CF,0,1582761368,28,5.77,20.68,74.25,3.04,Hotel-Restaurant BIBICH
490,Goya,AR,0,1582761376,33,-29.14,-59.26,70.56,6.11,Apart Costanera

In [13]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name, add markers to original figure
#and add layer to original fig and display fig
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations1 = hotel_df[["Latitude", "Longitude"]]
fig=gmaps.figure()
markers=gmaps.marker_layer(locations1, info_box_content=hotel_info, hover_text=hotel_info)
fig.add_layer(markers)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))